*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 90%;
    background-color: #fff;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    padding:10px 0 0 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}
header h1 {
    font-size: 1rem;
    color: gray;
}
form {
    width: 100%;
    border: 1px solid rgba(168, 127, 127, 0.419);
    border-left: none;
    border-right: none;
    margin-top: 1rem;
    display: flex;
}
form input {
    width: 100%;
    border: none;
    padding: 15px 10px;
    outline: none;
    /* border: 1px solid red; */
    width: 93%;
}
i.fa-solid {
    color: gray;
    cursor: pointer;
}
.list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.419);
    padding: 10px 10px;
}
.list--item:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.419);
}
.list--item:first-child {
    border-top: none;
}
.list--item button {
    background-color:  white;
}
.list--container {
    display: grid;
    gap: 0.5rem;
}
.list--item > div {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.list--item p {
    font-size: 1rem;
    color: gray;
}
.clear--btn {
    width: 100%;
    padding: 20px;
    font-size: 1.1rem;
    border: none;
    color: gray;
    cursor: pointer;
}
@media (min-width: 768px) {
    .container {
        width: 500px;
    }
}
